<div class="container bg-light shadow-sm rounded my-3 py-3">
  <h5>Created by VanDeGraf</h5>
  <hr>
  <h6><a href="https://github.com/VanDeGraf/odin-agora">GitHub</a></h6>
  <h6>
    <a href="https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-on-rails/lessons/rails-final-project">TheOdinProject</a>
  </h6>
</div>
