<% unless @people.empty? %>
  <div class="container bg-light rounded shadow-sm py-2">
    <h2>People</h2>
    <div class="list-group">
      <% @people.each do |user| %>
        <%= render "users/friendlist_item", friend: user %>
      <% end %>
    </div>
  </div>
<% end %>