<% unless @friendships[:friend].empty? %>
  <div class="container bg-light rounded shadow-sm py-2">
    <h2><%= (@user.id == current_user.id ? 'My' : @user.representative_name) %> Friends</h2>
    <div class="list-group">
      <% @friendships[:friend].each do |friendship| %>
        <%= render "users/friendlist_item", friend: friendship.towards_user(@user) %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @user.id == current_user.id %>
  <% unless @friendships[:requested].empty? %>
    <div class="container bg-light rounded shadow-sm py-2 mt-3">
      <h2>Requests</h2>
      <div class="list-group">
        <% @friendships[:requested].each do |friendship| %>
          <%= render "users/friendlist_item", friend: friendship.towards_user(@user) %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% unless @friendships[:invited].empty? %>
    <div class="container bg-light rounded shadow-sm py-2 mt-3">
      <h2>My Invites</h2>
      <div class="list-group">
        <% @friendships[:invited].each do |friendship| %>
          <%= render "users/friendlist_item", friend: friendship.towards_user(@user) %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>